<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card">
				<div class="card-title text-center border-bottom">
					<h2 class="p-3">Resend confirmation</h2>
				</div>
				<div class="card-body">
					<%= form_for(@user, url: confirmation_path(@user), html: { method: :post, data: { turbo: false } }) do |f| %>
						<%= render "users/shared/error_messages", resource: resource %>
						<div class="mb-4">
							<%= f.label :email, class: "form-label" %><br/>
							<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (@user.pending_reconfirmation? ? @user.unconfirmed_email : @user.email) %>
						</div>

						<div>
							<%= f.submit "Resend confirmation", class: "btn common__button common__button--no-shadow w-100" %>
						</div>
					<% end %>
					<p class="text-center my-1"> OR </p>
					<div>
						<%= link_to "Sign up", sign_up_path, class: "btn common__button common__button--no-shadow w-100" %><br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

