<tr>
	<td><%= (index + 1) %></td>
	<td><%= image_tag book.images.first.variant(:thumbnail), alt: "No Image" %></td>
	<td><%= book.title %></td>
	<td><%= book.description %></td>
	<td><%= book.price %></td>
	<td>
		<%= link_to edit_cms_book_path(book), class: "mr-1" do %>
			<i class="fa-regular fa-pen-to-square"></i>
		<% end %>
		<%= link_to cms_book_path(book),
								data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
			<i class="fa-solid fa-trash-can"></i>
		<% end %>
	</td>
</tr>
