<p>Check out page</p>

<% @books.each do |book| %>
	<p><%= book.title %></p>
	<p><%= book.price %></p>
<% end %>

<h3>Total Price: <%= @total_price %></h3>

<%= form_with model: Order, url: order_payment_path, method: :post, data: { turbo: false } do |form| %>
	<%= form.label :shipping_address %>
	<%= form.text_field :shipping_address, class: "form-control" %>
	<%= button_tag "Payment" %>
<% end %>

