<p>Order id: <%= @order.id %></p>
<p>Total Price: <%= @order.total_price %></p>
<p>Status: <%= @order.status %></p>
<% @order.books.each do |book| %>
	<p>Book title: <%= book.title %></p>
	<p>Book price: <%= book.price %></p>
<% end %>

