<tr>
	<td><%= (index + 1) %></td>
	<td><%= tag.name %></td>
	<td><%= tag.books_count %></td>
	<td>
		<%= link_to edit_cms_tag_path(tag), class: "mr-1" do %>
			<i class="fa-regular fa-pen-to-square"></i>
		<% end %>
		<%= link_to cms_tag_path(tag),
								data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
			<i class="fa-solid fa-trash-can"></i>
		<% end %>
	</td>
</tr>
