<%= turbo_stream.update "cart_count" do %>
	<%= current_user.count_items_in_cart %>
<% end %>

<%= turbo_stream.replace "books__modules_#{@book.id}" do %>
	<% if current_user.cart.exists_book_in_cart?(@book.id) %>
		<a href="#" class="books__cart">
			<i class="icon_check"></i>
		</a>
	<% else %>
		<%= form_with url: cart_path, method: :post do %>
			<%= hidden_field_tag "cart[book_id]", @book.id %>
			<%= button_tag "submit", class: "books__cart" do %>
				<i class="icon_cart_alt"></i>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<%= render_flash_stream %>