<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Forgot your password?</h2>
        </div>
        <div class="card-body">
          <%= form_for(@user, url: forgot_password_path(@user), html: { method: :post, data: { turbo: false } }) do |f| %>
            <div class="mb-4">
              <%= f.label :email, class: "form-label" %><br/>
              <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="d-grid">
              <%= f.submit "Reset password", class: "btn common__button common__button--no-shadow w-100" %>
            </div>
          <% end %>
          <p class="text-center my-1"> OR </p>
          <div class="d-grid">
            <%= link_to "Login", login_path(), class: "btn common__button common__button--no-shadow w-100" %><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

