<%= turbo_frame_tag "show_info_current_user" do %>
	<%= form_with(model: current_user,
								url: users_info_path(current_user),
								id: current_user,
								html: { method: :put,
												data: { turbo: true } }) do |f| %>
		<div class="mb-4">
			<%= f.label :first_name, class: "form-label" %><br/>
			<%= f.text_field :first_name, class: "form-control text-capitalize", autofocus: true %>
		</div>

		<div class="mb-4">
			<%= f.label :last_name, class: "form-label" %><br/>
			<%= f.text_field :last_name, class: "form-control text-capitalize" %>
		</div>

		<div class="row mb-4">
			<div class="col-5">
			</div>
			<div class="col-7 text-right">
				<%= link_to "Change your password?", change_password_path, data: { turbo_frame: "_top" } %>
			</div>
		</div>

		<div class="d-grid">
			<%= f.submit "Update", class: "btn common__button common__button--no-shadow w-100" %>
		</div>
	<% end %>
<% end %>