<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Sign up</h2>
        </div>
        <div class="card-body">
          <%= form_for(@user, url: registration_path(@user)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="mb-4">
              <%= f.label :email, class: "form-label" %><br/>
              <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="mb-4">
              <%= f.label :password, class: "form-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
            </div>

            <div class="mb-4">
              <%= f.label :password_confirmation, class: "form-label" %><br />
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "current-password" %>
            </div>

            <div class="row mb-4">
              <div class="col-6">
              </div>
              <div class="col-6">
                <%= link_to "Resend confirmation?", new_confirmation_path(resource_name) %>
              </div>
            </div>

            <div class="d-grid">
              <%= f.submit "Sign up", class: "btn text-light main-bg" %>
            </div>
            <p class="text-center my-1"> OR </p>
            <div class="d-grid">
              <%= link_to "Login", login_path, class: "btn text-light main-bg" %><br />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

